.menu {
    text-align: center; 
    margin-top: 10px;
  }
  
  .menu ul {
    list-style-type: none;  
    margin: 0;
    padding: 0;
    display: flex;  
    justify-content: center;  
  }
  
  .menu li {
    margin-right: 30px;  
  }
  
  .menu li:last-child {
    margin-right: 0;  
  }
  
  .menu a {
    text-decoration: none;  
    color: #fff; 
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease; 
  }
  
  .menu a:hover {
    background-color: #938396;  
    color: white;  
  }
  